@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');

:root {
    /*========== Colors ==========*/
    --main-body-color: #f1f2f6;
    --main-color: #833471;
    --alt-color: #6F1E51;
    --text-color-normal: #222f3e;
    --text-color-light: #576574;
    --container-color-normal: #dfe4ea;
    --container-color-alt: #fff;
    --border-color: #eee;
    --border-color-alt: #a4b0be;
    /*========== Font and typography ==========*/
    --body-font: 'Averia Serif Libre', cursive;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    padding: 1.5rem;
    background-color: var(--main-body-color);
    overflow: hidden;
    font-family: var(--body-font);
}

body.dark{
    --main-body-color: hsl(249, 34%, 26%);
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

h1{
    font-size: 30px;
    color: var(--main-color);
}

h2{
    font-size: 25px;
    color: var(--main-color);
}

h3{
    font-size: 16px;
    color: var(--text-color-normal);
}

p{
    color: var(--text-color-light);
}

.App{
    display: flex;
    flex-direction: row;
}

.visible{
    z-index: 100;
}

@keyframes slideSection{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}