@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

:root {
    /*========== Colors ==========*/
    --main-color: hsl(217, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --text-color-normal: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --text-color-darky: hsl(0, 0%, 15%);
    --main-body-color: hsl(206, 4%, 97%);
    --alternate-body-color: #eee;
    --container-color-normal: #fff;
    --container-color-alternate: #eee;
    --border-color: hsl(0, 0%, 35%);
    /*========== Font and typography ==========*/
    --body-font: 'League Spartan', sans-serif;
}

/*========== Variables Dark theme ==========*/
/*
    --main-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color-alternate: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    padding: 1.5rem;
    background-color: var(--main-body-color);
    /* *** Sunny mode colors *** */
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow: hidden;
}

body.dark{
    --main-body-color: hsl(249, 19%, 14%);
    --container-color-alternate: 
}

div{
    background-color: var(--container-color-alternate);
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.App{
    display: flex;
    flex-direction: row;
}

.visible{
    z-index: 100;
}

@keyframes slideSection{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
