#contact{
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideSection 1s ease;
}

.contact-container h3:nth-child(2){
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

#contact h1{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 20;
}

#contact h1::before {
    content: '';
    position: absolute;
    width: calc(40% - 60px);
    height: 5px;
    border-radius: 50px;
    right: 0%;
    top: 50%;
    background: linear-gradient(45deg,
    red, blue, deeppink, blue,
    red, blue, deeppink, blue);
    background-size: 900%;
    border-radius: 10px;
    animation: glowing 30s linear infinite;
    z-index: 10;
}

#contact h1::after {
    content: '';
    position: absolute;
    width: calc(40% - 60px);
    height: 5px;
    border-radius: 50px;
    left: 0%;
    top: 50%;
    background: linear-gradient(45deg,
    red, blue, deeppink, blue,
    red, blue, deeppink, blue);
    background-size: 900%;
    border-radius: 10px;
    animation: glowing 30s linear infinite;
    z-index: 10;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info-container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info-item{
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

.contact-info-item:hover{
    cursor: pointer;
    animation: shake .5s;
}

.contact-info-item i{
    color: var(--main-color);
    font-size: 30px;
}

.contact-info-container b{
    color: var(--text-color-normal);
}

.contact-form{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-item textarea, .form-item input{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--border-color-alt);
    background-color: var(--nav-container-bg);
    color: var(--text-color-normal);
    backdrop-filter: blur(2px);
}

.btn-submit{
    margin: 0 auto;
    width: 100px;
    padding: .5rem 1rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--button-bg);
}

.contact-form .btn-submit:hover{
    box-shadow: 0 0 10px 0 var(--alt-color);
    animation: shake .5s;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    #contact{
        position: relative;
        width: calc(100% - 300px);
        max-width: calc(100% - 300px);
        left: 300px;
        margin: 0;
        padding: 3rem 2rem 5rem 1.5rem;
    }

    .contact-container h3:nth-child(2){
        text-align: center;
    }

    .contact-container{
        gap: 3rem;
    }
    
    .contact-info-container{
        gap: 3rem;
    }

    .btn-submit{
        font-size: 20px;
    }
}

@media screen and (max-width: 530px) {
    #contact h1::before {
        content: none;
    }
    
    #contact h1::after {
        content: none;
    }
}