#projects {
    width: 100%;
    padding: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: slideSection 1s ease;
}

#projects h1 {
    width: 100%;
    text-align: center;
    position: relative;
}

#projects h1:before {
    content: '';
    position: absolute;
    width: calc(40% - 70px);
    height: 5px;
    border-radius: 50px;
    top: 50%;
    right: 0%;
    background: linear-gradient(45deg,
            red, blue, deeppink, blue,
            red, blue, deeppink, blue);
    background-size: 900%;
    border-radius: 10px;
    animation: glowing 30s linear infinite;
}

#projects h1:after {
    content: '';
    position: absolute;
    width: calc(40% - 70px);
    height: 5px;
    border-radius: 50px;
    top: 50%;
    left: 0%;
    background: linear-gradient(45deg,
            red, blue, deeppink, blue,
            red, blue, deeppink, blue);
    background-size: 900%;
    border-radius: 10px;
    animation: glowing 30s linear infinite;
}

.projects-container {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    max-width: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    position: relative;
}

.project-img .project-info,
.project-img .project-tech {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    overflow: hidden;
    background-color: var(--card-container);
    backdrop-filter: blur(5px);
}

.project-img .project-info {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: flex-end;
    top: 0;
    left: 0;
}

.project-img .project-tech {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: flex-start;
    bottom: 0;
    left: 0;
}

.project-img .project-tech p {
    color: var(--text-color-normal);
}

.projects-animation {
    animation: goUpGoDown 5s infinite;
    animation-delay: 0s;
}

@keyframes goUpGoDown {
    0% {
        height: 0%;
    }

    50% {
        height: 50%;
    }

    100% {
        height: 0%;
    }
}

@media screen and (min-width: 1024px) {
    #projects {
        position: relative;
        width: calc(100% - 300px);
        max-width: calc(100% - 300px);
        left: 300px;
        margin: 0;
        padding: 3rem 2rem 5rem 1.5rem;
    }

    .projects-animation {
        animation: none;
    }

    .projects-container a:hover{
        transform: scale(1.02);
    }
    
    .project-img:hover .project-info {
        height: 50%;
    }

    .project-img:hover .project-tech {
        height: 50%;
    }
}

@media screen and (max-width: 530px) {
    #projects h1::before {
        content: none;
    }
    
    #projects h1::after {
        content: none;
    }
}
